section.container.section-about
    h1.title-section About
    h2.subtitle-section us
    .wrap-text
        p We are a team who are totally passionate about web, design and the latest technologies. Our offices are based in Minsk, Belarus. We are focusing on creating high conversion websites, that bring new clients and help stand out on the web. We create beautiful infographics, product prototypes and 3D & 2D animations. Follow us on Facebook.
