section.container.section-hiring
    h2.subtitle-section We are
    h1.title-section hiring
    ul.hiring-list
        li: h2.subtitle-section PHP ninja
        li: h2.subtitle-section Javascript guru
        li: h2.subtitle-section Design geniuses
