section.container.section-services
    h2.subtitle-section Right
    h1.title-section focus
    .wrap-text
        ul.list-services
            li <strong>Design</strong> is about more than just form, it’s about function too. Systems and processes that delight us and are simple and pleasurable to use.
            li <strong>Using a combination</strong> of statistics and analysis, we are able to point our efforts in the direction of most bang for your buck. Others can promise you benefits, but we can prove them.
            li <strong>We are crazy about the benefits technology</strong> can bring, not just about technology for technology’s sake. Things should just work, and work in a way that makes sense to your business.
