section.container.section-team
    h2.subtitle-section Great
    h1.title-section team
    ul.list-members
        li
            figure.member-wrap
                .member-photo
                    img(src='/images/team.png', alt='Richard')
                figaption.member-info
                    h3.member-name Richard
                    .member-position founder
        li
            figure.member-wrap
                .member-photo
                    img(src='/images/team.png', alt='Gulliver')
                figaption.member-info
                    h3.member-name Gulliver
                    .member-position founder

        li
            figure.member-wrap
                .member-photo
                    img(src='/images/team.png', alt='Lilia')
                figaption.member-info
                    h3.member-name Lilia
                    .member-position co-founder and office manager

        li
            figure.member-wrap
                .member-photo
                    img(src='/images/team.png', alt='Vitaly')
                figaption.member-info
                    h3.member-name Vitaly
                    .member-position Drupal and HTML guy

        li
            figure.member-wrap
                .member-photo
                    img(src='/images/team.png', alt='Vitaly')
                figaption.member-info
                    h3.member-name Hania
                    .member-position curator of cool and muse

        li
            figure.member-wrap
                .member-photo
                    img(src='/images/team.png', alt='Vitaly')
                figaption.member-info
                    h3.member-name Dima
                    .member-position PM & salesforce.com developer
