extends layout

block content
    include sections/header
    include sections/clients
    include sections/about
    include sections/services
    include sections/contact
    include sections/hiring
    include sections/team
    include sections/footer
    