.section-services {
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  background-image: url("/images/backgrounds/services.jpg");
}
.list-services {
  padding: 0;
}
.list-services li {
  margin: 20px 0;
  padding-right: 110px;
  position: relative;
}
.list-services li:after {
  display: block;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  right: 0;
  text-shadow: 30px 30px 7px rgba(0,0,0,0.25);
  text-transform: uppercase;
  top: 0;
}
.list-services li:first-child:after {
  content: 'Design';
}
.list-services li:nth-child(2):after {
  content: 'Data';
}
.list-services li:last-child:after {
  content: 'Dev';
}
