.section-clients
    background-image url('/images/backgrounds/clients.jpg')
    
.list-clients
    color #fff
    display flex
    font-size 2rem
    flex-wrap wrap
    justify-content center
    margin 0 10%
    padding 0
    text-align center
    text-transform uppercase

    li
        align-items center
        background $color-semi-black
        flex 1 1 auto
        display flex
        justify-content center
        margin 1px
        padding 50px


        &:last-child
            background $color-semi-red
            box-shadow 0 0 5px 5px $color-semi-red
            font-size 2em
            font-weight 700
            opacity 0
            transform translateY(200px) scale(3)
            transition 5s opacity ease-in-out, 4s transform ease-in-out
            
            &.appeared
                opacity 1
                transform translateY(0px) scale(1)

